4823d8ef IFRConversion_Converter.cpp
4823d8ef IFRConversion_Factory.cpp
4823d8ef IFRConversion_ByteCharDataConverter.cpp
4823d8ef IFRConversion_CharAsciiConverter.cpp
4823d8ef IFRConversion_VarcharAsciiConverter.cpp
4823d8ef IFRConversion_CharUCS2Converter.cpp
4823d8ef IFRConversion_VarcharUCS2Converter.cpp
4823d8ef IFRConversion_CharByteConverter.cpp
4823d8ef IFRConversion_VarcharByteConverter.cpp
4823d8ef IFRConversion_NumericConverter.cpp
4823d8ef IFRConversion_DateConverter.cpp
4823d8ef IFRConversion_TimeConverter.cpp
4823d8ef IFRConversion_DateTimeConverter.cpp
4823d8ef IFRConversion_BooleanConverter.cpp
4823d8ef IFRConversion_StreamConverter.cpp
4823d8ef IFRConversion_ABAPStreamConverter.cpp
4823d8ef IFRConversion_Putval.cpp
4823d8ef IFRConversion_Getval.cpp
4823d8ef IFRPacket_RequestPacket.cpp
4823d8ef IFRPacket_ReplyPacket.cpp
4823d8ef IFRPacket_Segment.cpp
4823d8ef IFRPacket_ReplySegment.cpp
4823d8ef IFRPacket_RequestSegment.cpp
4823d8ef IFRPacket_Part.cpp
4823d8ef IFRUtil_VDNNumber.cpp
4823d8ef IFR_Connection.cpp
4823d8ef IFR_Environment.cpp
4823d8ef IFR_ParseInfo.cpp
4823d8ef IFR_ResultSet.cpp
4823d8ef IFR_RowSet.cpp
4823d8ef IFR_UpdatableRowSet.cpp
4823d8ef IFR_Statement.cpp
4823d8ef IFR_PreparedStmt.cpp
4823d8ef IFR_String.cpp
4823d8ef IFR_ErrorHndl.cpp
4823d8ef IFRPacket_PartEnum.cpp
4823d8ef IFR_FetchInfo.cpp
4823d8ef IFR_FetchChunk.cpp
4823d8ef IFRPacket_FunctionCode.cpp
4823d8ef IFR_Datatypes.cpp
4823d8ef IFR_Parameter.cpp
4823d8ef IFR_ConnectionItem.cpp
4823d8ef IFR_SQLWarning.cpp
4823d8ef IFR_ShortInfo.cpp
4823d8ef IFR_ConnectProperties.cpp
4823d8ef IFRUtil_UniqueID.cpp
4823d8ef IFRUtil_AsyncOperation.cpp
4823d8ef IFRPacket_Lock.cpp
4823d8ef IFRConversion_UCS2CharDataConverter.cpp
4823d8ef IFRConversion_TimeUCS2Converter.cpp
4823d8ef IFRConversion_DateTimeUCS2Converter.cpp
4823d8ef IFRConversion_DateUCS2Converter.cpp
4823d8ef IFR_ParseInfoCache.cpp
4823d8ef IFR_LOB.cpp
4823d8ef IFR_LOBHost.cpp
4823d8ef IFR_Profile.cpp
4823d8ef IFR_Trace.cpp
4823d8ef IFRPacket_LongDescriptor.cpp
4823d8ef IFRUtil_SQLNumeric.cpp
4823d8ef IFR_TraceContext.cpp
4823d8ef IFRUtil_Time.cpp
4823d8ef IFRUtil_BinaryToHex.cpp
4823d8ef IFRUtil_TraceSharedMemory.cpp
