/*



    ========== licence begin  GPL
    Copyright (c) 2000-2005 SAP AG

    This program is free software; you can redistribute it and/or
    modify it under the terms of the GNU General Public License
    as published by the Free Software Foundation; either version 2
    of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
    ========== licence end





*/
1 11 ntkern_bin.mc

#define DLG_KERNEL                  100
#define ID_DIALOG_BASE              101
#define ID_CONSOLE_INFO             102
#define ID_CONSOLE                  103
#define ID_CLEAR_ALL                104
#define ID_DBSTATE_FRAME            105
#define ID_DBSTATE                  106
#define ID_DBSTATE_ICON             107

#define ICON_KERNEL                 130
#define ICON_WARM                   131
#define ICON_COLD                   132
#define ICON_STOPPED                133
#define ICON_TRAFFIC                134

#define IDD_MENU_TRAYPOPUP          200
#define IDM_RESTORE                 201
#define IDM_HIDE                    202
#define IDM_CLOSE                   203



DLG_KERNEL    ICON   DISCARDABLE NTkern.Ico
ICON_KERNEL   ICON   DISCARDABLE NTkern.Ico
ICON_WARM     ICON   DISCARDABLE NTwarm.Ico
ICON_COLD     ICON   DISCARDABLE NTcold.Ico
ICON_STOPPED  ICON   DISCARDABLE NTstop.Ico
ICON_TRAFFIC  ICON   DISCARDABLE NTState.Ico


DLG_KERNEL DIALOG 12, 28, 335, 155
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
STYLE DS_SETFONT | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Dialog"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "", ID_DIALOG_BASE, "Static", SS_WHITEFRAME | NOT
                    WS_VISIBLE, 0, 0, 6, 7
    LTEXT           "Messages:", ID_CONSOLE_INFO, 10, 8, 139, 8
    LISTBOX         ID_CONSOLE, 10, 20, 315, 79, WS_VSCROLL | WS_HSCROLL | LBS_NOINTEGRALHEIGHT 
    GROUPBOX        "", ID_DBSTATE_FRAME, 10, 107, 112, 32
    CTEXT           "SERVERDB State:", ID_DBSTATE, 20, 121, 66, 8, NOT
                    WS_GROUP
    ICON            ICON_TRAFFIC, ID_DBSTATE_ICON, 93, 115, 16, 16
    PUSHBUTTON      "&Clear", ID_CLEAR_ALL, 273, 126, 50, 13, WS_GROUP | NOT
                    WS_TABSTOP
END


IDD_MENU_TRAYPOPUP MENU
BEGIN
    POPUP "&PopUp"
    BEGIN
        MENUITEM "&Restore"           IDM_RESTORE
        MENUITEM "&Hide"              IDM_HIDE
        MENUITEM SEPARATOR
        MENUITEM "S&top SERVERDB",    IDM_CLOSE
    END
END
