/*



    ========== licence begin  GPL
    Copyright (c) 2000-2005 SAP AG

    This program is free software; you can redistribute it and/or
    modify it under the terms of the GNU General Public License
    as published by the Free Software Foundation; either version 2
    of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
    ========== licence end





*/
#include <windows.h>
#include <winver.h>
#include "vpa00dlc.h"

#define RESOURCE_FILE
#include "gsp100.h"

VS_VERSION_INFO         VERSIONINFO
FILEVERSION             VERSION_MMC_SP100
PRODUCTVERSION          VERSION_MM_SP100
FILEFLAGSMASK           VS_FFI_FILEFLAGSMASK
#ifdef DEBUG            
FILEFLAGS               VS_FF_DEBUG
#endif
FILETYPE                VFT_DLL
//FILETYPE                VFT_APP
FILESUBTYPE             VFT2_UNKNOWN
BEGIN
   BLOCK "VarFileInfo"
   BEGIN
      VALUE "Translation", 0x0409, 0x04E4
   END
   BLOCK "StringFileInfo"
   BEGIN
      BLOCK "040904E4"
      BEGIN
         VALUE "Date",             DATE_SP100 "\0"
         VALUE "CompanyName",      COMPANY_NAME_SP100 "\0"
         VALUE "FileDescription",  PROD_NAME_SP100 " - ODBC Setup\0"
         VALUE "FileVersion",      VERSION_MMC_STR_SP100 "\0"
         VALUE "LegalCopyright",   COPYRIGHT_RC_SP100 "\0"
         VALUE "OriginalFilename", "sqlodsp.dll\0"
         VALUE "ProductName",      PROD_NAME_SP100 "\0"
         VALUE "ProductVersion",   VERSION_MM_STR_SP100 "\0"
//       VALUE "SpecialBuild",     "\0"
#ifdef DEBUG
         VALUE "Comments",         "Debug Version\0"
#else
         VALUE "Comments",         "\0"
#endif
         VALUE "Build",            BUILD_PREFIX_STR_SP100 "-" LINKNUMBER "\0"
      END
   END
END

CONFIGDSN DIALOGEX DISCARDABLE  74, 26, 197, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "SAP DB ODBC Setup"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "&OK",IDOK,15,105,40,15
    PUSHBUTTON      "&Cancel",IDCANCEL,70,105,40,15
    PUSHBUTTON      "&Settings ...",IDC_INSTALLSYSOPT,140,105,45,15
    EDITTEXT        IDC_DSNAME,82,12,103,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_DESC,82,31,103,12,ES_AUTOHSCROLL
    GROUPBOX        " Server and Database ",-1,11,48,179,51
    LTEXT           "Data Source &Name ",-1,11,14,67,8
    LTEXT           "De&scription",-1,11,32,43,8
    LTEXT           "Database ",-1,19,81,39,8
    LTEXT           "Server ",-1,19,63,43,8
    EDITTEXT        IDC_SERVERNODE,82,60,103,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_SERVERDB,82,79,103,12,ES_AUTOHSCROLL
END

CONFIGSYSTEM DIALOGEX 97, 34, 204, 191
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "SAP DB ODBC Advanced Setup"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    PUSHBUTTON      "&OK", IDOK, 13, 168, 51, 14
    DEFPUSHBUTTON   "&Cancel", IDCANCEL, 82, 168, 50, 14
    PUSHBUTTON      "&Reset", IDRESET, 148, 168, 47, 14
    GROUPBOX        "Connect", -1, 4, 4, 196, 52
    LTEXT           "Sql&Mode", -1, 8, 19, 30, 8
    COMBOBOX        IDC_SQLMODE, 73, 17, 106, 43, CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    LTEXT           "&Isolation Level", -1, 8, 36, 49, 8
    COMBOBOX        IDC_ISOLATIONLEVEL, 73, 35, 106, 43, CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "Trace", -1, 4, 59, 196, 47
    CONTROL         "&Trace SQL Commands", IDC_SQLTRACE, "Button", BS_AUTOCHECKBOX | 
                    BS_LEFTTEXT | WS_TABSTOP, 8, 73, 84, 10
    LTEXT           "Tracefilename :", -1, 8, 88, 52, 8
    PUSHBUTTON      "Select &File ...", IDC_SELECTFILE, 141, 71, 53, 14
    LTEXT           "sqltrace.pct", IDC_SQLTRACEFILENAME, 62, 88, 133, 8
    GROUPBOX        "Special Options", -1, 4, 109, 196, 48
    LTEXT           "Truncate Long Columns", -1, 8, 125, 78, 8
    COMBOBOX        IDC_TRUNCATELONG, 97, 124, 96, 43, CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    CONTROL         "&Autocommit", IDC_AUTOCOMMIT, "Button", BS_AUTOCHECKBOX | 
                    BS_LEFTTEXT | WS_TABSTOP | WS_DISABLED, 8, 138, 50, 10
END

STRINGTABLE DISCARDABLE PRELOAD
BEGIN
IDS_BADDSN "Couldn't create [%s] section in ODBC.INI."
IDS_MSGTITLE "SQL-DB"
END
