/*



    ========== licence begin  GPL
    Copyright (c) 2000-2005 SAP AG

    This program is free software; you can redistribute it and/or
    modify it under the terms of the GNU General Public License
    as published by the Free Software Foundation; either version 2
    of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
    ========== licence end





*/
#define RESOURCE_FILE

#include <windows.h>
#include <winver.h>
#include "gsp100.h"

VS_VERSION_INFO         VERSIONINFO
FILEVERSION             VERSION_MMC_SP100
PRODUCTVERSION          VERSION_MM_SP100
FILEFLAGSMASK           VS_FFI_FILEFLAGSMASK
FILETYPE                VFT_DLL
FILESUBTYPE             VFT2_UNKNOWN
BEGIN
   BLOCK "VarFileInfo"
   BEGIN
      VALUE "Translation", 0x0409, 0x04E4
   END
   BLOCK "StringFileInfo"
   BEGIN
      BLOCK "040904E4"
      BEGIN
         VALUE "Date",             DATE_SP100 "\0"
         VALUE "CompanyName",      COMPANY_NAME_SP100 "\0"
         VALUE "FileDescription",  PROD_NAME_SP100 " - SQLDBC Test" "\0"
         VALUE "FileVersion",      VERSION_MMC_STR_SP100 "\0"
         VALUE "LegalCopyright",   COPYRIGHT_RC_SP100 "\0"
		     VALUE "OriginalFilename", "lcsqldbc.dll"
         VALUE "ProductName",      PROD_NAME_SP100 "\0"
         VALUE "ProductVersion",   VERSION_MM_STR_SP100 "\0"
//       VALUE "SpecialBuild",     "\0"
         VALUE "Comments",         "\0"
         VALUE "Build",            BUILD_PREFIX_STR_SP100 "-" LINKNUMBER "\0"
      END
   END
END
