/* Paragraph */
P {margin-top: 10px;}
.phr  {margin-top: -10px;}
.ruler {height:1; width:100%; border:0px; border-style:none; color:#BEBEAB; margin-top: -6px;}

/*header classes*/
h1 {font-family:Arial,Helvetica,sans-serif;font-size:14pt;font-weight:bold;color:#000;font-style:normal}
h2 {font-family:Arial,Helvetica,sans-serif;font-size:13pt;font-weight:bold;color:#000;font-style:normal}
h3 {font-family:Arial,Helvetica,sans-serif;font-size:12pt;font-weight:bold;color:#000;font-style:normal}
h4 {font-family:Arial,Helvetica,sans-serif;font-size:11pt;font-weight:bold;color:#000;font-style:normal}
h5 {font-family:Arial,Helvetica,sans-serif;font-size:10pt;font-weight:bold;color:#000;font-style:normal}

/* text */
.textemph {font-family:Arial,Helvetica,sans-serif;font-size:10pt;font-weight:bold;color:#000;font-style:normal}
.text {font-family:Arial,Helvetica,sans-serif;font-size:10pt;font-style:normal;color:#000;font-weight:normal}

/*button classes*/
.button {font-family:arial,sans-serif; font-size:8pt;} 											/*for option buttons*/
.button2 {font-family:arial,sans-serif; font-size:8pt; color:#999989;} 							/*for inactive option buttons*/
.button3 {text-decoration:none; font-family:arial,sans-serif; font-size:8pt; color:#FFFFFF;} 	/*for action buttons, for green finalize buttons*/
.button4 {text-decoration:none; font-family:arial,sans-serif; font-size:8pt; color:#FFFFFF;} 	/*for small action buttons on toolbox, in search*/
.button5 {font-family:arial,sans-serif; font-size:8pt;} 										/*for small tray buttons*/
.button6 {text-decoration:none; font-family:arial,sans-serif; font-size:8pt; color:#9CDEFF;} 	/*for action buttons hover, for finalize button hover*/
.button7 {text-decoration:none; font-family:arial,sans-serif; font-size:8pt; color:#9CDEFF;} 	/*for small action buttons on toolbox, in search hover*/


/* default link */
A {color:#000000; text-decoration:none; font-famlily:arial, sans-sefif, font-size:10pt;}
A:hover {color:#4B8BC7; text-decoration: none;}
A:visited {color:#000000; text-decoration:none; font-famlily:arial, sans-sefif, font-size:10pt;}

/* active tabstrips link */
.linkhoverta:link {color:#FFFFFF; text-decoration:none;}
.linkhoverta:visited {color:#FFFFFF; text-decoration:none;}
.linkhoverta:hover {color:#4B8BC7;  text-decoration:none;}
.linkhoverta:active {color:#FF9A00; text-decoration:none;}

/* inactive tabstrips link */
.linkhoverti:link {color:#000000; text-decoration:none;}
.linkhoverti:visited {color:#000000; text-decoration:none;}
.linkhoverti:hover {color:#4B8BC7;  text-decoration:none;}
.linkhoverti:active {color:#FF9A00; text-decoration:none;}

/* treenode link */
.treenode:link {color:#000000; text-decoration:none;}
.treenode:visited {color:#000000; text-decoration:none;}
.treenode:hover {color:#4B8BC7; text-decoration:none;}
.treenode:active {color:#FF9A00; text-decoration:none;}

/* emphasized button link */
.buttonemph:link {color:#000000; text-decoration:none;}
.buttonemph:visited {color:#000000; text-decoration:none;}
.buttonemph:hover {color:#4B8BC7; text-decoration:none;}
.buttonemph:active {color:#FF9A00; text-decoration:none;}

/* button link */
.button:link {color:#000000; text-decoration:none;}
.button:visited {color:#000000; text-decoration:none;}
.button:hover {color:#4B8BC7; text-decoration:none;}
.button:active {color:#FF9A00; text-decoration:none;}

/* tree control */
.treeheader {background:#CBD5E1; color:#000000; text-decoration:none; font-size: 10pt; font-family: Arial,sans-serif; font-weight:bold;}
.treenode {background:#DCE3EC; color:#000000; text-decoration:none; font-size: 10pt; font-family: Arial,sans-serif; font-weight:normal;}

/* groups */
.groupheader {background:#DCE3EC; color:#000000; text-decoration:none; font-size: 10pt; font-family: Arial,sans-serif; font-weight:bold;}
.groupsapcolor {background:#FFFFFF; color:#000000; text-decoration:none; font-size: 10pt; font-family: Arial,sans-serif; font-weight:normal;}
.groupprimarycolor {background:#DCE3EC; color:#000000; text-decoration:none; font-size: 10pt; font-family: Arial,sans-serif; font-weight:normal;}
.groupseccolorheader {background:#E9EEF4; color:#000000; text-decoration:none; font-size: 10pt; font-family: Arial,sans-serif; font-weight:bold;}
.groupseccolor {background:#E9EEF4; color:#000000; text-decoration:none; font-size: 10pt; font-family: Arial,sans-serif; font-weight:normal;}
.groupsecbox {background:#FFFFFF; color:#000000; text-decoration:none; font-size: 10pt; font-family: Arial,sans-serif; font-weight:normal;}
.groupsecboxcolorhead {background:#DCE3EC; color:#000000; text-decoration:none; font-size: 10pt; font-family: Arial,sans-serif; font-weight:bold;}
.groupsecboxcolor {background:#E9EEF4; color:#000000; text-decoration:none; font-size: 10pt; font-family: Arial,sans-serif; font-weight:normal;}

/* emphasized button */
.buttonemph {color:#225A8D; font-family: Arial, sans-serif; font-size: 10pt; font-weight:bold;text-decoration:none; }

/* button */
.button {color:#225A8D; font-family: Arial, sans-serif; font-size: 10pt; font-weight:normal;text-decoration:none; }

/* input field */
.inputdisabled {color:#999999; background:#F7F7F7; font-family: Arial,sans-serif; font-weight:normal;text-decoration:none; font-size:10pt}
.inputreadonly {color:#000000; background:#CACACA; font-family: Arial,sans-serif; font-weight:normal;text-decoration:none; font-size:10pt}
.inputlabeldisabled {color:#666666; font-family: Arial,sans-serif; font-weight:normal;text-decoration:none; font-size:10pt}
.inputlabel {color:#000000; font-family: Arial,sans-serif; font-weight:normal;text-decoration:none; font-size:10pt}
.inputlabelreq {color:#D0001D; font-family: Arial,sans-serif; font-weight:normal;text-decoration:none; font-size:10pt}

/*table classes*/
.tableheader {color:#000000; background:#CBD5E1; font-family:arial,sans-serif; font-size:10pt; font-weight: bold; height:16px;}
.tablecolheader {color:#000000; background:#DCE3EC; font-family:arial,sans-serif; font-size:10pt; color:#000000; height:16px;}
.tableline {background:#FFFFFF; font-family:arial,sans-serif; font-size:10pt; height:16px;}		
.tableline2 {background:#E9EEF4; font-family:arial,sans-serif; font-size:10pt; height:16px;}

/* Application Header link */
.appheadlinkon {font-family:arial,sans-serif; font-size:10pt; color:#FFFFFF;}
.appheadlink {font-family:arial,sans-serif; font-size:10pt; color:#97A1C9;}
.appdoctitle {font-family:arial,sans-serif; font-size:15pt; color:#5A9CCE;}

.HdrBdy
{
font-family:Arial,Helvetica,sans-serif;
font-size:small;
margin:0 0 0 0;
}

.HdrLeft
{
background-image:url(/WARoot/Images/brand_left.gif);
background-position:top left;
background-repeat:repeat-x;
font-family:Arial,Helvetica,sans-serif;
font-size:1.0em;
font-weight:bold;
font-style:italic;
padding:0 10px 0 10px;
white-space:nowrap;
}

.HdrBrand
{
background-image:url(/WARoot/Images/brand.gif);
background-position:top left;
background-repeat:repeat-x;
width:320px;
height:31;
}

.HdrRight
{
background-image:url(/WARoot/Images/brand_right.gif);
background-position:top left;
background-repeat:repeat-x;
white-space:nowrap;
}

.HdrMnu
{
border-color:#FFFFFF #FFFFFF #000000 #FFFFFF;
border-style:solid;
border-width:0 0 1px 0;
height:21px;
padding:0 10px 0 10px;
white-space:nowrap;
}



