/*



    ========== licence begin  GPL
    Copyright (c) 2000-2005 SAP AG

    This program is free software; you can redistribute it and/or
    modify it under the terms of the GNU General Public License
    as published by the Free Software Foundation; either version 2
    of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
    ========== licence end





*/
#define RESOURCE_FILE

#include <windows.h>
#include <winver.h>
#include "gsp100.h"
#include "gos229.h"

VS_VERSION_INFO         VERSIONINFO
FILEVERSION             VERSION_MMC_SP100
PRODUCTVERSION          VERSION_MM_SP100
FILEFLAGSMASK           VS_FFI_FILEFLAGSMASK
//FILETYPE                VFT_DLL
FILETYPE                VFT_APP
FILESUBTYPE             VFT2_UNKNOWN
BEGIN
   BLOCK "VarFileInfo"
   BEGIN
      VALUE "Translation", 0x0409, 0x04E4
   END
   BLOCK "StringFileInfo"
   BEGIN
      BLOCK "040904E4"
      BEGIN
         VALUE "Date",             DATE_SP100 "\0"
         VALUE "CompanyName",      COMPANY_NAME_SP100 "\0"
         VALUE "FileDescription",  PROD_NAME_SP100 " - MSCS Administrator Extension DLL\0"
         VALUE "FileVersion",      VERSION_MMC_STR_SP100 "\0"
         VALUE "LegalCopyright",   COPYRIGHT_RC_SP100 "\0"
         VALUE "OriginalFilename", "SAPDBMSCSEx.dll"
         VALUE "ProductName",      PROD_NAME_SP100 "\0"
         VALUE "ProductVersion",   VERSION_MM_STR_SP100 "\0"
//       VALUE "SpecialBuild",     "\0"
         VALUE "Comments",         "\0"
         VALUE "Build",            BUILD_PREFIX_STR_SP100 "-" LINKNUMBER "\0"
      END
   END
END
/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_PP_SAPDB_MSCS_PARAMETERS DIALOG DISCARDABLE  0, 0, 252, 218
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Parameters"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "&SERVERDB:",IDC_SAPDB_MSCS_SERVERDB_LABEL,8,36,46,8
    EDITTEXT        IDC_SAPDB_MSCS_SERVERDB,62,34,176,14,ES_AUTOHSCROLL
    CONTROL         "&Automatic database 'restart / shutdown'",
                    IDC_SAPDB_MSCS_AUTO_REST_SHT,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,62,58,176,10
    LTEXT           "&Remark:",IDC_SAPDB_MSCS_REMARK_LABEL,8,93,46,8
    EDITTEXT        IDC_SAPDB_MSCS_REMARK,62,91,176,24,ES_MULTILINE | 
                    ES_AUTOHSCROLL | ES_WANTRETURN
    ICON            "",IDC_SAPDB_MSCS_ICON,8,7,20,20
    CONTROL         "",IDC_SAPDB_MSCS_TITLE,"Static",SS_LEFTNOWORDWRAP | 
                    SS_NOPREFIX | WS_GROUP,38,12,206,10
END

IDD_WIZ_SAPDB_MSCS_PARAMETERS DIALOG DISCARDABLE  0, 0, 293, 172
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Parameters"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            "",IDC_SAPDB_MSCS_ICON,8,7,21,20
    CONTROL         "",IDC_SAPDB_MSCS_TITLE,"Static",SS_LEFTNOWORDWRAP | 
                    SS_NOPREFIX | WS_GROUP,38,12,247,10
    LTEXT           "&SERVERDB:",IDC_SAPDB_MSCS_SERVERDB_LABEL,8,36,46,8
    EDITTEXT        IDC_SAPDB_MSCS_SERVERDB,62,34,176,14,ES_AUTOHSCROLL
    CONTROL         "&Automatic database 'restart / shutdown'",
                    IDC_SAPDB_MSCS_AUTO_REST_SHT,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,62,58,176,10
    LTEXT           "&Remark:",IDC_SAPDB_MSCS_REMARK_LABEL,8,93,46,8
    EDITTEXT        IDC_SAPDB_MSCS_REMARK,62,91,176,24,ES_MULTILINE | 
                    ES_AUTOHSCROLL | ES_WANTRETURN
END



/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_CLUADMEX_COMOBJ_DESC "Cluster Server Administrator Extension"
    IDS_REQUIRED_FIELD_EMPTY "A value must be entered in the '%1' field."
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_APPLY_PARAM_CHANGES_ERROR 
                            "An error occurred attempting to save parameters to the cluster database:%n%n%1"
END

 